.bannerContainer {
  position: relative; /* Чтобы псевдоэлемент был относительно этого контейнера */
  background-image: url(../../assets/images/Main/main-banner.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px 30px 50px 30px;
}

.bannerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Затемнение фона (черный с прозрачностью 0.5) */
  z-index: 0; /* Чтобы слой был выше изображения */
}

.informationContainer {
  position: relative; /* Чтобы контент оставался выше слоя затемнения */
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
  align-items: flex-start;
  margin: 100px 0px 50px 5px;
}

.mainTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  color: #ff6e00;
  margin-top: 80px;
}

.mainText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #fff;
}

.mainButton {
  border: 2px solid #fafafa;
  border-radius: 100px;
  width: 226px;
  height: 82px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #fafafa;
  background: transparent;
  margin-top: 100px;
}
